<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Angular Demo App</title>
	<script src="js/lib/angular-1.2.6.js"></script>
	<script src="js/app.js"></script>
</head>
<body>

  <div ng-controller="MyController">
    <input ng-model="to" type="text" placeholder="Enter an expression" />
    <textarea ng-model="emailBody"></textarea>
    <div>To : __to__ </div>
    <div>Body : __emailBody__ </div>
    <div>Preview : __previewText__ </div>
  </div>
  </body>
</html>