<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Angular Demo App</title>
	<script src="js/lib/angular-1.2.6.js"></script>
	<script src="js/app.js"></script>
</head>
<body>

	<div ng-controller="ContactsController">

	<div>
		<input type="search" ng-model="search">
	</div>

		<select ng-model="selected_person"
				ng-options="person.name for person in people | filter:search">
			<option value="">Choose a person:</option>
		</select>
		
		<hr>

		<div>
			<input type="text" ng-model="selected_person.name">
			<br>
			<input type="text" ng-model="selected_person.number">
		</div>
	</div>

</body>
</html>